@{
    ViewData["Title"] = "Pagina Principal";
}

<style>
    body {
        background-image: url(https://eccosys.com.br/guia/wp-content/uploads/2014/03/dicas-estoque2-01.png);
        background-size: 100%;
    }
</style>

<div class="text-center">
    <h1>Estoque Simples </h1>


</div>

